.input-container {
	display: flex;
	width: 100%;
	margin-top: 15px;
}

.icon {
	position: absolute;
	padding: 10px;
	min-width: 50px;
	text-align: center;
}

.input-field {
	border: 2px solid  rgb(93, 188, 210,0.5);
	width: 100%;
	padding: 10px 50px;
	outline: none;
}

.input-field:focus {
	border: 2px solid dodgerblue;
}

input {
	border-radius: 50px;
}

#icon-signup {
	position: absolute !important;
	margin-left: 20px !important;
	margin-top: 16px !important;
}

select {
	width: 100%;
	padding: 10px 50px;
	margin-bottom: 10px;
	border: 2px solid #5dbcd2;
	background: none;
	border-radius: 50px;
	appearance: none;
}

.container-fluid {
	height: 100vh;
}

.formFrame {
	background-color: #A1DEEC;
}

.registerForm {
	background-color: white;
	padding: 30px 30px;
	border-radius: 15px;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.registerText {
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	font-family: 'Nunito Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
}

.input-container input::placeholder {
	color: black;
	opacity: 1;
	font-size: 13px;
	line-height: 18px;
}

.subject {
	font-size: 13px;
	line-height: 18px;
}

.subject:focus {
	outline: none;
}

.subject {
	border-radius: 30px;
	overflow: hidden;
}

.colForm {
	margin-top: auto;
	margin-bottom: auto;
}

#dropdown-basic {
	border-radius: 25px;
	width: 100%;
	padding: 10px;
	background-color: white;
	border: 2px solid rgb(93, 188, 210,0.5);
	color: black;
	z-index: 1;
	position: sticky;
	text-align: left;
	padding-left: 50px;
	font-size: 13px;
	height: 48px;
}

#dropDownMenu {
	width: 100%;
	border-radius: 30px;
	margin-top: -20px !important;
	z-index: 0;
	padding-top: 45px !important;
	border: 1px solid rgb(93, 188, 210,0.5) !important;
	padding-bottom: 20px !important;
}

@media screen and (max-height:866px) {
	#dropDownMenu {
		padding-bottom: 45px !important;
        padding-top: 15px !important;
        margin-bottom: -20px !important;
	}
}

#dropdown-basic::after {
	display: none;
}

#svg-drop {
	position: absolute !important;
	margin-left: 20px !important;
	margin-top: 35px !important;
	z-index: 2;
}

#icon-drop {
		position: absolute;
		right: 0;
		padding-right: 30px !important;
		margin-top: 0 !important;
		font-size: 18px;
}
.dropdown-item:hover{
	background-color: rgb(93, 188, 210,0.5) !important;
}

.dropdown-basic:focus{
	border: 0px;
}

.btn {
	margin-left: auto !important;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
	box-shadow: none !important;
}

.btn-success.focus, .btn-success:focus{
	box-shadow: none !important;
}