#icon-customer {
    margin: 7px 15px !important;
    position: absolute;
    margin-left: 20px !important;
    margin-top: 11px !important;
}

.container-fluid {
    height: 100vh;
    background-color: #A1DEEC;
}

.rowCustomer {
    height: 100vh;
}

.customerInfo {
    margin: auto;
}

.jumbotron {
    background-color: white !important;
    border-radius: 30px !important; 
    height: 60%;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* min-width: 360px; */
}

.form-control:disabled, .form-control[readonly] {
    color: black;
    opacity: 1;
}

.field {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    width: 150px;
    text-align: right;
    font-size: 13px !important;
}

.svgButton {
	margin-left: 0px !important;
	position: unset !important;
	margin-right: 10px !important;
	margin-top: 0px !important;
	margin-top: auto !important;
	margin-bottom: auto !important;
}

.infoSection {
    font-size: 25px;
}

.rowInfo {
    width: 59%;
    /* max-width: 600px; */
    min-width: 100px;
    border-bottom: 1px solid black;
    height: 10px;
    margin: 8px 20px !important;
}

#customerName{
    margin-left: 100px !important;
    font-size: 26px;
}

#time{
    margin-left: 25px;
}

#info-time {
    margin-top: 5px;
}
#i-header {
    position: absolute;
	margin-left: 20px;
    margin-top: 2px !important;
}

#user-header {
    position: absolute;
	margin-left: 60px !important;
    margin-top: 3px !important;
    font-size: 30px;
}

.customerRowInfo i{
   margin: auto !important;
}

.customerRowInfo{
    margin-bottom: 20px;
}

.customerField{
    width: 100% !important;
}

.input-field-customer {
	border: 2px solid rgb(93, 188, 210,0.5);
    width: 100%;
    height: 35px;
	padding: 5px 40px !important;
    outline: none;
    font-size: 14px;
}

.input-field-customer:focus {
	border: 2px solid dodgerblue;
}

input.input-field-customer:disabled {
    background-color: white;
    color: black;
}

input.input-field-customer::placeholder{
   text-align: left !important;   
}

input {
    border-radius: 50px;
}

.input-container-customer {
    margin-bottom: 50px;
	display: flex;
	width: 100%;
    margin-top: 20px;
}

.input-container-customer input::placeholder {
	color: black;
	opacity: 1;
	font-size: 13px;
	line-height: 18px;
}

#btn-submit{
    margin-right: 100px !important;
    padding: 10px 18px !important;
}

#col-1,#col-2{
    padding: 0!important;
}

@media screen and (max-width:1546px) {
    /*  */
    .rowInfo , #info-time {
        display: none;
    }
    .input-container-customer{
        width: 90%;
        margin-bottom: 10px;
    }
    #customerName{
        font-size: 20px;
    }

}
