p {
  margin: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  min-width: 700px;
  background-color: #a1deec;

  display: flex;
  justify-content: center;
}

.conversasContainer {
  width: 90%;

  height: auto;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 40px;
  align-self: center;
}

/* Title styiling */

.TitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.TitleElement {
  display: flex;
  flex-grow: 1;
  line-height: 40px;
}

#conversations-icon-header {
  margin-right: 25px;
  margin-top: 10px;
}

.Title {
  font-size: 25px;
  font-weight: 300;
}

.Titleline {
  flex-grow: 15;
  height: 1px;
  background-color: black;
}

.TitleCounter {
  text-align: right;
  flex-grow: 1;
  font-size: 13px;
}

/* Search and Table Container */

.ContentContainer {
  width: 100%;

  border: 2px solid #a1deec;
  border-radius: 15px;
  margin-top: 30px;
}

/* Search styling */

.SearchContainer {
  width: 30%;
  height: 30px;

  border: 2px solid #a1deec;
  border-radius: 20px;
  border-top-left-radius: 18px;
  text-align: left;

  line-height: 28px;

  margin-top: -2px;
  margin-left: -2px;
}

.SearchIcon {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 1em;
}

.SearchInput {
  border: 0;
  font-size: 0.9em;
  width: 80%;
  height: 17px;
}

.SearchInput::placeholder {
  text-transform: uppercase;
  color: #000;
  opacity: 0.9;
  text-decoration: none;
}

/* Table styling */

.TableContainer {
  padding-left: 20px;
  padding-right: 20px;
  max-height: 70vh;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 5px !important;
  margin-left: 10px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(161, 222, 236, 1); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(161, 222, 236, 1); 
}

table,
tr,
td {
  font-size: 15px;
  font-weight: 300;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: left;
}

td:nth-child(2),
td:nth-child(3) {
  font-weight: 400;
}

td:nth-child(2)::before,
td:nth-child(3)::before {
  content: "/";
  padding-right: 50px;
}

td:nth-child(4) {
  width: 30%;
  text-align: right;
}

tr:not(:last-child) {
  border-bottom: 2px solid #a1deec;
}

@media (max-width: 1024px) {
  td:nth-child(4) {
    width: 20%;
  }

  .TableContainer {
    white-space: nowrap;
  }

  .SearchInput {
    width: 60%;
  }
}

@media (max-width: 840px) {
  td:nth-child(4) {
    width: 10%;
  }

  td:nth-child(2)::before,
  td:nth-child(3)::before {
    padding-right: 20px;
  }
}

#table-container{
  margin: 20px;
}