* {
	box-sizing: border-box;
}

.App {
	font-family: 'Nunito Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
}

.btn {
	margin-top: 20px;
	border-radius: 15px;
}

.btn.btn-info {
	border-radius: 30px;
	font-size: 13px;
	line-height: 18px;
	background-color: #1BBADD !important;
}

